<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome</h1>

  <% if (user.userImage) { %>
    <img src="/uploads/<%= user.userImage %>" width="200" height="200">
  <% } %>
  <a href="/update-image">Update User Image</a>
</body>
</html>
