<!DOCTYPE html>
<html>
<head>
  <title>Update User Image</title>
</head>
<body>
  <h1>Update User Image</h1>
  <form action="/update-image" method="POST" enctype="multipart/form-data">
    <input type="file" name="userImage" required>
    <button type="submit">Upload</button>
  </form>
</body>
</html>
